* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1ebfc1;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.main-content-2 {
    width: 1024px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 68px;
    background-color: var(--primary-color);
    border-radius: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
}

.heading {
    font-weight: 700;
    color: #0d1111;
    font-size: 6.2rem;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.heading.lv3 {
    font-size: 2.2rem;
    color: #0d1111;
}

.avatar {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
}

/* Header */
.header {
    padding-top: 44px;
    position: sticky;
    top: -40px;
    background-color: #ffffff;
    z-index: 1;
}
.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.header .body ul {
    display: flex;
    gap: 40px;
}

.header .body a {
    font-size: 1.6rem;
    color: #2f3a3b;
}

.header .body a.active {
    font-weight: 600;
}

.header a.sign-up-btn {
    margin-left: 24px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
}

/* Hero */

.hero {
    padding-top: 50px;
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .content {
    width: 39%;
}

.hero .sub-title {
    font-size: 1.4rem;
    color: #767e7e;
}

.hero .heading {
    margin-top: 18px;
    line-height: 1.16;
}

.hero .desc {
    width: 374px;
    margin-top: 46px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero .hero-img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero .cta-group a {
    text-align: center;
}

.hero .cta-group button {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Features */
.features {
    margin-top: 65px;
    padding: 65px 0;
}

.features .heading.lv2 {
    margin-top: 18px;
    width: 577px;
}

.feature-top .desc {
    margin-top: 18px;
    width: 590px;
    font-size: 1.8rem;
    line-height: 1.6875;
    color: #767e7e;
}

.features-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.feature-item:nth-child(1) {
    width: 168px;
}
.feature-item:nth-child(2) {
    width: 223px;
}
.feature-item:nth-child(3) {
    width: 224px;
}

.features-list .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0d1111;
}

.feature-item .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}
/* Courses */
.courses {
    padding: 65px 0;
}

.courses .heading.lv2 {
    margin-top: 18px;
}

.courses .courses-top .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .courses-top .desc {
    margin-top: 19px;
    width: 45%;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.77;
}

.courses .courses-top .view-all {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses-list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.courses-item {
    position: relative;
}

.courses-item img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.courses-item .info {
    position: absolute;
    left: 17px;
    right: 17px;
    bottom: -124px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #ffffff;
}

.courses-item .info:hover {
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses-list .title {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
}

.courses-list .title strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-list .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
}

.courses-list ul {
    margin-top: 18px;
    margin-left: 20px;
    display: flex;
    gap: 27px;
}

.courses-list ul li {
    color: var(--primary-color);
    list-style: disc;
}

.courses-list ul li span {
    color: #9da6a5;
    font-size: 1.4rem;
}

/*=====Qty======*/
.qty {
    margin-top: 258px;
    padding: 65px 0;
}

.qty .body {
    width: 862px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.qty .desc {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
}

/* Testimonial */
.testimonial {
    margin-top: 134px;
    padding: 65px 0;
}

.testimonial .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial .content {
    width: 35.8%;
    height: 407px;
}

.testimonial blockquote {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5; /* 150% */
}

.testimonial .sign {
    margin-top: 33px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.testimonial .strikethrough {
    width: 8px;
    height: 2px;
    background: #070707;
}

.testimonial .name {
    color: #767e7e;
    font-size: 1.6rem;
}

.testimonial strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.testimonial .controls {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.testimonial .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #2ac9bf;
    color: #2ac9bf;
}

.testimonial .control-btn:hover {
    color: #ffffff;
    background-color: #2ac9bf;
    cursor: pointer;
}

.testimonial .info {
    position: relative;
    width: 58%;
    height: 481px;
}

.testimonial .avatar-6 {
    top: 107px;
    left: 273px;
    width: 235px;
    height: 235px;
}

.testimonial .avatar-1 {
    top: 0;
    left: 144px;
    width: 92px;
    height: 92px;
}

.testimonial .avatar-2 {
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
}

.testimonial .avatar-3,
.testimonial .avatar-4,
.testimonial .avatar-5 {
    width: 78px;
    height: 78px;
}

.testimonial .avatar-3 {
    top: 258px;
    left: 0;
}

.testimonial .avatar-4 {
    left: 212px;
    bottom: 0;
}

.testimonial .avatar-5 {
    left: 569px;
    bottom: 29px;
}

/* Subcription */
.subcription {
    margin-top: 65px;
    background-color: #def6f5;
}

.subcription .body {
    display: flex;
    align-items: center;
    padding: 76px 0 88px;
}

.subcription .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}

.subcription .cta {
    margin-left: 410px;
}
