* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html, body{
    scroll-behavior: smooth;
}

:root {
    --primary-color: #1ebfc1;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.main-content-2 {
    width: 1024px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 68px;
    background-color: var(--primary-color);
    border-radius: 14px;
}

.heading {
    font-weight: 700;
    color: #0d1111;
}

/* Header */
.header {
    padding-top: 44px;
    position: sticky;
    top: -40px;
    background-color: #ffffff;
}
.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.header .body ul {
    display: flex;
    gap: 40px;
}

.header .body a {
    font-size: 1.6rem;
    color: #2f3a3b;
}

.header .body a.active {
    font-weight: 600;
}

.header a.sign-up-btn {
    margin-left: 24px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--primary-color);
    border: 1px solid #1ebfc1;
    border-radius: 6px;
}

/* Hero */

.hero {
    padding-top: 50px;
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .content {
    width: 39%;
}

.hero .sub-title {
    font-size: 1.4rem;
    color: #767e7e;
}

.hero .heading {
    margin-top: 18px;
    font-size: 6.2rem;
    line-height: 1.16;
}

.hero .desc {
    width: 374px;
    margin-top: 46px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero .hero-img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero .cta-group a {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
}

.hero .cta-group button {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Features */
.features {
    margin-top: 65px;
    padding: 65px 0;
}

.features .heading.lv2 {
    margin-top: 18px;
    width: 577px;
    font-size: 4.2rem;
    line-height: 1.33;
}

.feature-top .desc {
    margin-top: 18px;
    width: 590px;
    font-size: 1.8rem;
    line-height: 1.6875;
    color: #767e7e;
}

.features-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.feature-item:nth-child(1)
{
    width: 168px;
}
.feature-item:nth-child(2)
{
    width: 223px;
}
.feature-item:nth-child(3)
{
    width: 224px;
}

.features-list .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0d1111;
}

.feature-item .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}


